@font-face {
	font-family: "JetBrains Mono";
	src: url("fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("fonts/Poppins-Regular.ttf");
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "Poppins";
}

.main-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.time-select-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.time-select-button-container {
	display: flex;
	flex-direction: row;
	gap: 4px;
	justify-content: space-between;
}

.time-select-button-container button {
	flex: 1;
	background-color: #e5e9c5;
	border: none;
	border-radius: 4px;
	padding: 0px 4px;
	height: 32px;
	line-height: 1.2;
	font-family: "JetBrains Mono";
	font-size: 16px;
	color: #016b61;
}

.time-select-input-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.time-select-user-input {
	border: 1px solid #e5e9c5;
	color: #016b61;
	text-align: center;
	height: 32px;
	font-size: 16px;
	width: 240px;
	border-radius: 4px;
}

.time-select-user-input:focus {
	outline: none;
}

.time-select-user-button {
	border: none;
	height: 32px;
	background-color: #e5e9c5;
	color: #016b61;
	border-radius: 4px;
	font-size: 16px;
}
